.container {
  display: grid;
  grid-template: 'Imagem Cadastro';
}
.Imagem {
  grid-area: Imagem;
}
@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template: 'Cadastro';
  }
}
